.main__setup-button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../../../img/setup.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main__setup-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
