.review-control {
  display: flex;
  padding-top: 105px;
  flex-direction: column;
  align-items: flex-start;
}

@import url('./styles/review-control__form.css');
@import url('./styles/review-control__return-button.css');
