.aggregator-card {
  display: flex;
  justify-content: space-between;
  width: calc(288px - 32px);
  padding: 7px 16px 7px 16px;
  height: calc(56px - 14px);
  background-color: #ffffff;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

.aggregator-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 650px) {
  .aggregator-card {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .aggregator-card {
    width: 90%;
  }
}

@import url('./styles/aggregator-card__left-side.css');
@import url('./styles/aggregator-card__right-side.css');
@import url('./styles/aggregator__logo.css');
@import url('./styles/aggregator__stars-raiting.css');
@import url('./styles/aggregator__raiting.css');
@import url('./styles/aggregator__reviews-amount.css');
