.aggregator-card {
  display: flex;
  justify-content: space-between;
  width: calc(288px - 32px);
  padding: 7px 16px 7px 16px;
  height: calc(56px - 14px);
  background-color: #ffffff;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;
}

.aggregator-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

@import url('./styles/aggregator-card__left-side.css');
@import url('./styles/aggregator-card__right-side.css');
@import url('./styles/aggregator__logo.css');
@import url('./styles/aggregator__stars-raiting.css');
@import url('./styles/aggregator__raiting.css');
@import url('./styles/aggregator__reviews-amount.css');
