.reviews {
  display: flex;
  flex-direction: column;
  margin: 100px 30px 100px 30px;
  padding: 0;
  max-width: 1200px;
}

@media (max-width: 900px) {
  .reviews {
    margin: 60px 30px 60px 30px;
  }
}

@media (max-width: 650px) {
  .reviews {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .reviews {
    margin-top: 40px;
    margin-bottom: 33px;
  }
}

@import url('./styles/reviews__title.css');
@import url('./styles/reviews__bar.css');
@import url('./styles/reviews__button.css');
@import url('./styles/reviews__list.css');
@import url('./styles/reviews__column.css');
