.reviews-table__buttons {
  border: none;
  background: transparent;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}

.reviews-table__buttons:hover {
  cursor: pointer;
  opacity: 0.5;
}
