.review-date-piker__button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #7e7770;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
