.review-date-piker {
  border-radius: 12px;
  border: 1px solid #d7d7d7;
  height: 52px;
  background-color: transparent;
}

@import url('./styles/review-date-piker__footer.css');
@import url('./styles/review-date-piker__button.css');
@import url('./styles/ant-piker.css');
