.reviews-table {
  border: 1px solid #000;
  background: #d9d9d9;
  border-collapse: collapse;
  width: 1350px;
  text-align: center;
  transform: rotateX(180deg);
}

@media (max-width: 950px) {
  .reviews-table {
    transform: none;
  }
}

@import url('./styles/reviews-table__heading.css');
@import url('./styles/reviews-table__heading_review.css');
@import url('./styles/reviews-table__input_review.css');
@import url('./styles/reviews-table__body.css');
@import url('./styles/reviews-table__input.css');
@import url('./styles/reviews-table__buttons.css');
@import url('./styles/review-table__stars.css');
@import url('./styles/\/reviews-table__body_edit.css');
