.review-form__data-container {
  margin-top: 25px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 20px;
}

@media (max-width: 700px) {
  .review-form__data-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
