.reviews__list {
  display: flex;
  gap: 30px;
  align-self: space-between;
}

@media (max-width: 1040px) {
  .reviews__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .reviews__list {
    grid-template-columns: 1fr;
    margin-right: -20px;
  }
}
