.reviews__list {
  display: flex;
  gap: 30px;
  align-self: space-between;
}

@media (max-width: 1020px) {
  .reviews__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 668px) {
  .reviews__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
