@import url(./vendor/normalize.css);
@import url(./vendor/font/Roboto.css);

body {
  margin: 0 auto;
  background: #f3f3f1;
  max-width: 1400px;
  min-width: 375px;
  font-family: 'Roboto', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
